@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> To Learn More Go To <a asp-controller="Contact" asp-action="Index">Phone Book</a>.</p>
</div>
